body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: #0d0d0d;
    color: #fff;
  }
  
  .upload-container {
    margin-top: 50px;
  }
  
  canvas {
    margin-top: 20px;
    border: 2px solid #fff;
  }
  
  button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #444;
  }